<section class="row mt-5">
    <div class="col">
      <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalEvent">New Event</button>
      <input
      type="search" class="form-control" placeholder="Nombre, tipo, ciudad o dirección"
      aria-controls="datatable" id="filterInput" onkeyup="filter(1, 4)">
      
      <table id="tableToFilter" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let event of events; index as i">
            <td scope="row">{{i+1}}</td>
            <td>{{event.name}}</td>
            <td>{{event.date}}</td>
            <td>{{event.city}}</td>
            <td>{{event.address}}</td>
            <td *ngIf="event.userUid == userUid || isAdmin == true; else noOwner">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modalEvent"
              (click)="onPreUpdateEvent(event)">Update</button>
            </td>
            <ng-template #noOwner>
              <td>
                <button class="btn btn-secondary" disabled="true">Update</button>
              </td>
            </ng-template>


            <td *ngIf="isAdmin == true; else noAdmin">
                <button class="btn btn-danger" (click)="onDeleteEvent(event.id)">Delete</button>
            </td>
            <ng-template #noAdmin>
                <td>
                  <button class="btn btn-danger" disabled="true">Delete</button>
                </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <app-modal-event [userUid]= "userUid"></app-modal-event>
