<section id="books">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let gaming of gamings">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img
                  class="img-fluid"
                  src="{{ gaming.image }}"
                  alt="{{ gaming.name }}"
                />
              </p>
              <h4 routerLink="/book/{{ gaming.id }}" class="card-title">
                {{ gaming.name }}
              </h4>
              <p class="card-text">
                {{ gaming.description }}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">{{ gaming.type }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
