<div
  class="modal fade"
  id="modalGaming"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formGaming="ngForm" (ngSubmit)="onSaveGaming(formGaming)">
          <input type="text" name="gamingId" />
          <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" name="recipient-name" />
          </div>
          <div class="form-group col-md-6">
            <label for="type">Categoria</label>
            <select name="type" class="form-control">
              <option value="Gaming Center">Gaming Center</option>
              <option value="Comunidad">Comunidad</option>
              <option value="Equipo E-Sport">Equipo E-Sport</option>
              <option value="TCG">TCG</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="city">Ciudad</label>
            <input type="text" name="ciudad " class="form-control" />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="address">Direccion</label>
              <input type="text" name="address " class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Descripcion</label>
            <textarea class="form-control" name="description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </div>
</div>
