<section id="gaming" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_box">
          <div class="card">
            <div class="card-body text-center">
              <p><img class="img-fluid" src="{{gaming.image}}" alt="{{gaming.name}}"></p>
              <h4 class="card-title">{{gaming.name}}</h4>
              <p class="card-text">
                {{gaming.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>