<section id="books" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let event of events">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{event.image}}" alt="{{event.name}}">
              </p>
              <h4 routerLink="/event/{{event.id}}" class="card-title">{{event.name}}</h4>
              <p class="card-text">
                {{event.description}}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  {{event.date}}
                </p>
                <p class="badge badge-info">
                  {{event.city}}
                </p>
              </div>
              <!--<a href="{{book.link_amazon}}" class="btn btn-block btn-primary" target="_blank">Buy</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>